html{
    box-sizing: border-box;
    width: 100%;
    height:100%;
}

.Body{
    padding: 0;
    margin: auto;
}

.header{
    max-width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    height:92px;
    background-color: rgb(237, 237, 237);
    border-bottom: black 3px solid;
}
.title{
    font-size: 48px;
    line-height: 63px;
    font-weight: bolder;
    letter-spacing: 1px;
    text-decoration:none;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.cata{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    background-color:  rgb(237, 237, 237);
    height: 47px;
    border-bottom: black 3px solid;
}
.outer{
    width: 100%;
    max-width: 120rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.cata-link{
    margin: 10px 50px;
    display: flex;
    font-size: 24px;
    text-decoration:none;
    color: black;
}

.home{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: black 3px solid;
}
.home.img{
    width: 100%;
    display: block;
    object-fit: cover;
    position: relative;
}
.imgframe{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    overflow: hidden;
    text-align: center;
}
.text-topic{
    color:white;
    font-size: 42px;
    letter-spacing: 2px;
    text-shadow: -1px -1px 0 #151515,
              1px -1px 0 #151515,
              -1px 1px 0 #151515,
              1px 1px 0 #151515;
    font-weight: 700;
    position: absolute;
}
.home-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 550px;
    position: absolute;
}



.bt-ds{
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    appearance: none;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
}
.footer{
    max-width: 100%;
    font-size: 20px;
    font-weight: bolder;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    height:92px;
    background-color: rgb(169, 169, 169);
    border-top: black 2px solid;
}

.ft-num, .ft-copy{
    margin: 10px 30px;
    display: flex;
    font-size: 20px;
    font-weight: bolder;
}


.WRAPPER {
    width:100%;
    display: flex;
    margin:0 auto;
    overflow:hidden; /* 當內容的<div>使用 Float 的時候 #WRAPPER 的高度會消失 */
                     /* 使用 overflow:hidden; 即可破解這個問題 */ 
    background-color: white; 
    border-bottom: black 1px solid;
} 
.item { 
    width: auto; /*<div>一定要先設定寬度之後才能使用 float 做水平排列 */ 
    padding: auto auto;
    float:left; /* 使用 float 做水平排列 */ 
    margin-left:0; /* 設定欄位的左邊外間距 */ 
    align-items: center;
    border-right: #151515 1px solid;
} 
.it-name{
    width: auto;
    padding-left: 10px;
    display: flex;
    float: left;
    font-size: 20px;
    text-align: center;
    text-decoration:none;
    color: black;
}

.file{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    border-bottom: black 1px solid;
}

.pic{
    width: 310px;
}

.dsc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 400px;
}

.wrap-ar {
    width:100%;
    display: flex;
    margin:0 auto;
    overflow:hidden; /* 當內容的<div>使用 Float 的時候 #WRAPPER 的高度會消失 */
                     /* 使用 overflow:hidden; 即可破解這個問題 */ 
    background-color: white; 
    border-bottom: black 1px solid;
} 

h1{
    display: block;
    font-size: 48px;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2{
    display: block;
    font-size: 24px;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}




